.about_us_wrapper {
    width: 80%;

    margin: 0 auto;
    margin-top: 40px;

    padding-bottom: 50px;
}

.about_us__header {
    text-align: center;

    margin-bottom: 30px;
}

.about_us_wrapper > p {
    text-align: left;

    font-size: 18px;
    line-height: 1.3em;
}

.about_us_wrapper > p:not(:last-child) {
    margin-bottom: 15px;
}

.about_us__img {
    height: 250px;
    width: 100%;

    object-fit: cover;
}