.delivery__wrapper {
    margin-bottom: 50px;
}

.delivery__img {
    height: 250px;
    width: 100%;

    object-fit: cover;
}

.delivery__content {
    margin: 0 auto;

    width: 76%;
}

.delivery__header {
    text-align: center;

    margin: 30px 0 30px 0;
}

.delivery__ul_header {
    font-size: 18px;

    font-family: 'Lato Bold';
}

.delivery__li_first {
    margin-top: 13px;
}

.delivery__ul {
}

.delivery__ul > li {
    margin-left: 13px;

    font-size: 16px;

    list-style: '—';
    padding-left: 7px;
}

.delivery__ul > li:not(:last-child) {
    margin-bottom: 7px;
}

.delivery__header_content {
    font-size: 18px;
}

.delivery__note {
    text-align: center;
}

.delivery__warning {
    text-align: center;
}