.exmpl {
    margin: 0 auto;
    height: 500px;
    width: 400px;

    position: absolute;
    top: 20%;
    left: 20%;

    background-color: white;
    border: 5px solid green;

    padding: 20px 20px;
}

.category__ul {

    list-style-type: none;

    display: flex;
    justify-content: space-between;
}

.category__li {
    color: red;

    cursor: pointer;

    padding-bottom: 10px;
}

.category__li:hover .subcategory__ul {
    display: block;
    opacity: 1;
}

.subcategory__ul {
    position: absolute;
    opacity: 0;

    display: none;
    margin-top: 5px;
    margin-bottom: 10px;

    border: 1px solid green;
    padding: 5px 5px 0px 0px;

    transition: all 1s;

}

.subcategory__li {
    
    color: blue;
    list-style-type: none;
    padding-left: 20px;
    padding-bottom: 3px;
}