.product {
  margin: 0 auto;

  width: 236px;
  height: 330px;

  padding-bottom: 15px;

  background-color: white;

  border-radius: 13px;

  transition: 0.5s all;

  z-index: 1;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.15);
}

/* .product:hover {
  height: 110%;
} */

.product.open {
  height: 100%;
}

/* Фиксированная высота описания и плавная анимация изменения высоты */
.product__description {
  width: 100%;
  max-height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product__hovered_container {
  margin-top: 8px;

  text-align: center;
  padding: 0 18px 0 18px;

  font-size: 15px;
  display: none;
}

.product__hovered_container.start {
  display: block;
  animation: fadeIn 0.5s ease-out normal none;
}
.product__hovered_container.end {
  opacity: 1;
  display: block;
  pointer-events: none;
  animation: fadeOut 0.5s ease-out normal none;
}
.product__hovered_container.end_active {
  pointer-events: none;
  display: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

.product__img {
  position: relative;

  z-index: 0;

  width: 236px;
  height: 236px;
}

.img {
  position: absolute;

  object-fit: cover;

  width: 100%;
  height: 100%;

  border-radius: 13px 13px 0 0;

  transition: 0.5s all;
}

.img__hovered_content {
  position: absolute;
  top: 0;
  left: 0;

  width: 236px;
  height: 236px;

  border-radius: 13px 13px 0 0;

  transition: 0.5s all;
}

.product__img:hover> .img__hovered_content {
  background-color: rgba(0, 0, 0, 0.5);
}

.img__search {
  opacity: 0;
  
  position: absolute;

  left: 76%;
  top: 7%;

  z-index: 0;
  cursor: pointer;

  background-color: white;
  
  border-radius: 50%;

  padding: 3px;

  width: 40px;
  height: 40px;

  transition: 0.5s all;
}

.product__img:hover> .img__hovered_content>.img__search {
  opacity: 1;
}

.product__title {
  margin: 0 auto;
  margin-top: 8px;

  text-align: center;

  width: 210px;
  font-size: 16px;
}
.product__title>a {
  transition: 0.3s all;
}
.product__title:hover>a {
  color: rgba(79, 79, 79, 0.65);
}

.product__title>a {
  text-decoration: none;

  color: black
}

.product__category {
  margin: 8px 0 8px 0;

  text-align: center;

  font-family: 'Lato Light';
  color: #ABABAB;

  cursor: default;
}

.product__price {
  text-align: center;

  cursor: default;
}

.count { 
  color: #F0B065;
}

/* btn group tea */
.product__select_count_tea {
  list-style: none;

  width: 90px;

  cursor: pointer;

  border: 2px solid #DFDFDF;
  border-radius: 0 0 0 13px;

  padding: 10px 5px 6px 0;

  text-align: center;
}
.product__btn_group_tea {
  margin-top: 8px;
  
  display: flex;

  justify-content: space-between;
}
.cart_tea {
  cursor: pointer;

  border: 2px solid #528C70;
  border-radius: 0 0 13px 0;

  width: 90px;
  height: 38px;

  padding: 0 5px 0 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s all;
}
.cart_tea > img {
  position: relative;

  z-index: 0;
  
  width: 22px;
  height: 22px;
}
.cart_tea > span {
  font-size: 12px;
  font-family: 'Lato Bold';

  margin-top: 2px;

  white-space: nowrap;
}
.cart_tea:hover {
  background-color: #528C70;

  color: white;
}
.cart_tea:hover > img {
  content: url("http://localhost:3000/img/cart_white.png");
  object-fit: cover;
}

.tea__arrow {
  margin-left: 4px;
  position: relative;
}
.tea__arrow:before,
.tea__arrow:after {
  content: '';
  position: absolute;

  z-index: 1;

  top: 6px;
  left: 0;

  width: 7px;
  height: 1.5px;

  border-radius: 20px;

  background-color: gray;
}
.tea__arrow:before { 
  transform: rotate(50deg);
}
.tea__arrow:after {
  left: 4.2px;
  transform: rotate(-50deg);
}

.tea__li {
  position: relative;
}
.tea_units__ul {
  position: absolute;
  bottom: 155%;
  left: -2px;

  list-style: none;
  
  border: 2px solid #DFDFDF;

  background-color: white;

  width: 90px;

  display: none;
}
/* tea_units__ul animation */
.tea_units__ul.start {
  display: block;

  animation: fadeIn 0.5s;
}
.tea_units__ul.active {
  display: block;
  opacity: 1;
}
.tea_units__ul.disable {
  display: block;
  opacity: 1;

  animation: fadeOut 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.tea_units__ul.active {
  display: block;
  opacity: 1;
}
/* tea_units__ul animation */
.tea_units__li {
  padding: 5px 0 5px 0;

  text-align: center;
}
.tea_units__li:hover {
  color: white;
  background-color: #528C70;
}
.tea_units__li:first-child {
  padding-top: 5px;
}
/* btn group tea */

/* btn group everythin but tea */
.cart {
  cursor: pointer;

  border: 2px solid #528C70;
  border-radius: 0 0 13px 13px;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  
  padding: 5px;
  margin: 10px 0 5px 0;

  transition: 0.5s all;
}
.cart:hover {
  background-color: #528C70;
  color: white;
}
.cart > img {
  width: 22px;
  height: 22px;

  position: relative;
  z-index: 0;

  margin-right: 5px;
}
.cart:hover > img {
  content: url("http://localhost:3000/img/cart_white.png");
  object-fit: cover;
}
.cart__btn {
  position: relative;
  text-transform: uppercase;
}
/* btn group everythin but tea */

@media (max-width: 1271px) or ((hover: none) and (pointer: coarse)) {
  .product__hovered_container,
  .product__hovered_container.start,
  .product__hovered_container.end,
  .img__hovered_content {
    display: none;
  }

  .product.open { height: 100%; }

}