*,*:before,*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    font-weight: 400;
}

.header {
    width: 100%;
}

/* Header Top */
.header__top {
    height: 36px;
    background: rgba(44, 148, 98, 0.5);
}

.header__top_ul {
    list-style: none;

    width: 326px;

    display: flex;
    
    color: white;
    z-index: 1; 
}

.header__top_li {
    cursor: pointer;
    padding-right: 10px;

    color: white;
    text-decoration: none;
}

.header__number {
    z-index: 1; 
    color: white;

    white-space: nowrap;
    width: 150px;

    vertical-align: center;
    padding-top: 2px;

}

.header__top_container,
.header__bottom_container {
    width: 88%;
    height: 100%;
    margin: 0 auto;
}

.header__top_container {
    padding-top: 8px;
    width: 60%;

    display: flex;
    justify-content: space-between;
}

/* Header Bottom */
.header__bottom {
    z-index: 5;

    height: 75px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__bottom_container {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 1fr 1fr;

    padding-top: 27px;
}

.category__ul {
    white-space: nowrap;

    width: 390px;
    z-index: 2;
}

.category__li {
    display: inline-block;
    padding-right: 5%;

    font-size: 16px;
    text-transform: uppercase;
}

.header__text_animation {

    /*  */

    display: inline-block;
    position: relative;
    color: black;

    text-decoration: none;

    cursor: pointer;
    position: relative;
}

/* .header__text_animation:hover .category__main_ul {
    display: inline-block;
} */

.header__text_animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.header__text_animation:hover:after {
    transform: scaleX(1);
}

.header__text_animation_md {
    display: none;
}

.header__bottom_logo {
    position: relative;

    background: url('./../img/logo.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    margin: 0 auto;
    margin-top: -20px;

    width: 82px;
    z-index: 1;

    cursor: pointer;
}

/* Input Search */
.header__search {
    font-family: 'Lato Regular';
    color: black;

    justify-content: space-between;
    align-items: flex-start;
    padding: 12px 8px 12px 12px;

    box-sizing: border-box;
    border-radius: 4px;

    margin-top: -8px;

    height: 35px;
    width: 65%;

    background: url("./../search.svg") no-repeat 97% 50%;
    background-color: rgba(217, 217, 217, 0.248);

    outline: none;

    transition: 0.6s;
}

.header__search:focus {
    outline-color: rgba(50, 50, 50, 0.248);
    width: 75%;
}

/* Search md */
.header__icon_md {
    z-index: 1; 
    margin-top: 10px;

    width: 28px;

    position: relative;
    display: none;
}

/* Контейнер "Корзина" */
.header__cart {
    margin-left: -25%;
    z-index: 1; 

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
}

.header__cart_svg {
    margin-top: -4px;
    cursor: pointer;

    width: 28px;
    height: 28px;
    
    position: relative;
    z-index: 0;
}

.header__cart_circle {
    position: absolute;

    width: 21px;
    height: 21px;

    background-color: #528C70;

    border-radius: 50%;

    margin-top: -12px;
    margin-left: 24px;
}

.header__cart_count {
    position: absolute;

    color: white;
    margin-top: -8px;
    margin-left: 31px;

    font-size: 12px;
}

.header__bottom_md,
.burger__container,
.burger__menu {
    display: none;
}

@media (min-width: 641px) {
    .subcategory__ul {
        position: absolute;

        display: none;
    }

    .category__li:hover .subcategory__ul {
        display: block;
    }

    .subcategory__container {
        background-color: white;
        margin-top: 50px;

        width: 150px;

        padding: 20px 30px 10px 20px;

        border-radius: 7px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .category__ul,
    .subcategory__ul {
        list-style-type: none;
    }

    .subcategory__li {
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    .subcategory__li_link {
        text-decoration: none;
        color: black;

        transition: color 200ms ease;
    }

    .subcategory__li_link:hover {
        color: #528C70;
    }

    .subcategory__trinagle {
        width: 0;
        height: 0;

        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 16px solid white;

        position: absolute;
        top: 10%;
        left: 10%;
    }
}

@media (max-width: 992px) {
    .header__top_li { font-size: 14px; }
    .header__number { font-size: 14px; }
    .category__li { font-size: 14px; }
    .category__ul { width: 350px; }
    
    .header__bottom_logo { 
        background: url('./../img/logo_tagline.jpg');
        background-size: 100%;
        background-repeat: no-repeat;

        width: 74px;
    }
    
    .header__text_animation { display: none; }
    .header__text_animation_md {
        display: inline-block;
    }
}
@media (max-width: 768px) {

    .header__top_li,
    .header__number,
    .category__li { font-size: 12px; }
    
    .category__ul { 
        padding-left: 10px;
        width: 310px;
    }
    .header__search { display: none; }

    .header__icon_md {
        display: block;
        margin: 0 auto;
        margin-top: -3px;

        cursor: pointer;
    }

    .header__bottom_logo {
        margin-right: 15px;
    }
}
@media (max-width: 640px) {
    .header__bottom,
    .category {
        display: none;
    }

    .header__bottom_md {
        display: block;

        z-index: 10;

        height: 75px;
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .header__bottom_container_md {
        margin: 0 auto;

        width: 90%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;

        padding-top: 25px;
    }

    .header__bottom_logo {
        
        background: url('./../img/logo_tagline.jpg');
        background-size: 100%;
        background-repeat: no-repeat;

        width: 74px;

        margin: 0 auto;
        margin-top: -20px;
    }

    .burger__container {
        display: block;
        position: relative;
        height: 23px;
        width: 32px;

        cursor: pointer;
    }

    .burger__container:before,
    .burger__container:after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        border-radius: 10px;
    }

    .burger__container:before {
        top: 0;
        transition: all 1s ease 0s;
    }

    .burger__container:after {
        bottom: 0;
        transition: all 1s ease 0s;
    }

    .burger__container span {
        background-color: black;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        border-radius: 10px;
        top: 10px;
        transition: all 0.3s ease 0s;
    }

    .burger__container.burger__active:before {
        top: 9px;
        transform: rotate(45deg);
    }

    .burger__container.burger__active:after {
        top: 9px;
        transform: rotate(-45deg);
    }

    .burger__container.burger__active span { transform: scale(0); }

    .header__number,
    .header__top_li {
        font-size: 10px;
    }

    .header__number { padding-top: 5px; }

    .header__top_container {
        width: 90%;
    }

    .burger__menu {
        background-color: white;
        left: 0;

        display: block;
        position: absolute;

        width: 100%;

        padding: 20px 0 0 0;

        z-index: 1;
    }

    .burger__menu_container {
        margin: 0 auto;

        padding: 12px 0 15px 25px;

        width: 90%;
        height: 88%;
    }
}