*,*:before,*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    font-weight: 400;
}

.header {
    width: 100%;

    position: fixed;

    z-index: 100;
}

/* Header Top */
.header__top {
    height: 36px;
    background: rgba(44, 148, 98, 0.5);
}

.header__top_ul {
    list-style: none;

    width: 100%;

    display: flex;
    
    color: white;
    z-index: 1; 
}

.header__top_li {
    cursor: pointer;
    padding-right: 12px;

    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.header__number {
    z-index: 1; 
    color: white;

    white-space: nowrap;
    width: 150px;

    vertical-align: center;
    padding-top: 2px;

}

.header__top_container,
.header__bottom_container {
    width: 88%;
    height: 100%;
    margin: 0 auto;
}

.header__top_container {
    padding-top: 8px;
    width: 60%;

    display: flex;
    justify-content: space-between;
}

/* Header Bottom */
.header__bottom {
    z-index: 5;

    height: 75px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__bottom_container {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 1fr 1fr;

    padding-top: 27px;
}

.category__ul {
    white-space: nowrap;

    width: 390px;
    z-index: 2;
}

.category__li {
    display: inline-block;
    padding-right: 5%;

    font-size: 16px;
    text-transform: uppercase;

    z-index: 3;
}

.header__text_animation>.down_arrow:before,
.header__text_animation>.down_arrow:after {
    content: '';
    position: absolute;

    background-color: gray;
    width: 5px;
    height: 1px;

    border-radius: 10px;

    top: 40%;
    right: 0;
}

.header__text_animation>.down_arrow:before {
    transform: rotate(40deg);
    right: -8px;
}

.header__text_animation>.down_arrow:after {
    transform: rotate(-40deg);
    right: -11.4px;
}

.header__text_animation {

    /*  */

    display: inline-block;
    position: relative;
    color: black;

    text-decoration: none;

    cursor: pointer;
    position: relative;

    z-index: 3;
}

.header__text_animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #FFB052;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.header__text_animation:hover:after {
    transform: scaleX(1);
}

.header__text_animation_md {
    z-index: 3;
    display: none;
}

.header__bottom_logo {
    position: relative;

    background: url('./../img/logo.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    margin: 0 auto;
    margin-top: -20px;

    width: 82px;
    z-index: 1;

    cursor: pointer;
}

.search__form {
    margin-top: -8px;

    height: 32px;
    width: 80%;

    position: relative;

    display: flex;
}

.search__input {
    width: 90%;
    z-index: 1;

    font-family: 'Lato Regular';
    color: black;

    justify-content: space-between;
    align-items: flex-start;
    padding: 12px 8px 12px 12px;

    box-sizing: border-box;
    border-radius: 4px;

    background: url("./../search.svg") no-repeat 97% 50%;
    background-color: rgba(217, 217, 217, 0.248);

    outline: none;

    transition: 0.6s;
}

.search__input:focus {
    width: 100%;
}
.search__input:focus~.search__btn {
    right: 0;
}

.search__btn {
    opacity: 0;

    z-index: 3;

    width: 40px;
    height: 32px;

    position: absolute;
    right: 10%;

    cursor: pointer;

    transition: 0.6s;
}

.search__btn>a {
    cursor: pointer;
}

/* Контейнер "Корзина" */
.header__cart {
    margin-left: -25%;
    z-index: 1; 

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
}

.header__cart_svg {
    margin-top: -4px;
    cursor: pointer;

    width: 28px;
    height: 28px;
    
    position: relative;
    z-index: 0;
}

.header__cart_circle {
    position: absolute;

    width: 21px;
    height: 21px;

    background-color: #528C70;

    border-radius: 50%;

    margin-top: -12px;
    margin-left: 24px;
}

.header__cart_count {
    position: absolute;

    color: white;
    margin-top: -8px;
    margin-left: 31px;

    font-size: 12px;
}

.header__bottom_md,
.burger__container,
.burger__menu,
.header__icon_md {
    display: none;
}

@media (min-width: 992px) {
    .category__li:hover .subcategory__ul {
        display: block;
    }
}

@media (min-width: 640px) and (max-width: 992px) {
    .product__title {
        font-size: 12px;
        width: 90%;
    }

    .category__li.active .subcategory__ul {
        display: block;
    }

    .category__li.active .subcategory__ul_outside {
        z-index: 0;
    
        position: absolute;
        opacity: 0;
    
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

@media (min-width: 640px) {

    .cart__wrapper {
    }

    .cart__outside {
        opacity: 0;

        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
    }

    .cart__category_ul {
        list-style-type: none;
    }
    .cart__category_li {
        position: relative;
    }
    .cart__subcategory_ul {
        position: absolute;

        right: 30px;
        top: 48px;

        width: 260px;
        height: 386px;

        border-radius: 0 0 7px 7px;
    }
    .cart__subcategory_header {
        background-color: #528C70;
        padding: 10px;

        display: flex;
        justify-content: space-between;

        color: white;
        font-size: 14px;
    }

    .header__span {
        color: white;
        cursor: default;
    }
   
    .header__close {
        cursor: pointer;
        position: relative;

        color:rgba(44, 148, 98, 0);
        background-color: rgba(0, 0, 0, 0);
    }

    .header__close::before,
    .header__close::after {
        content: '  12';
        position: absolute;

        width: 20px;
        height: 2px;

        border-radius: 4px;

        right: 0;
        top: 8px;

        background-color: #2C4B3C;

        transition: all 1s ease;
    }

    .header__close::before {
        transform: rotate(45deg);
    }

    .header__close::after {
        transform: rotate(-45deg);
    }

    .header__close.active::before,
    .header__close.active::after {
        transform: scale(0%);
        transform: rotate(360deg);
    }

    .cart__subcategory_container {
        background-color: white;
        padding: 10px;

        overflow-x: hidden;
        overflow-y: auto;

        max-height: 270px;
    }

    .cart__subcategory_container::-webkit-scrollbar,
    .cart__subcategory_container::-webkit-scrollbar-track {
    width: 4px;
    
    border-radius: 10px;
    background-color: whitesmoke;
    }

    .cart__subcategory_container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
    }

    .product {
        font-size: 14px;
        background-color: white;

        border-top: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;

        margin-bottom: 10px;
        padding: 14px 13px 13px 13px;
    }
    .product__container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-column-gap: 7px;
    }
    .product__img {
        margin-top: 0px;
        width: 40px;
        height: 40px;

        object-fit: cover;
        border-radius: 50%;
    }
    .product__content {
        
    }
    .product__content_top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .product__title {
        width: 90%;
     }
    .product__delete {
        position: relative;
        cursor: pointer;

        color: white;
    }

    .product__delete::after,
    .product__delete::before {
        content: '  1';

        position: absolute;
        right: 0;
        top: 8px;

        background-color: black;
        width: 15px;
        height: 1px;
    }

    .product__delete::after { transform: rotate(45deg) }
    .product__delete::before { transform: rotate(-45deg); }
    .product__content_bottom {
        display: flex;
        justify-content: space-between;
    }
    .product__count {
        font-family: 'Lato Light';
        font-size: 12px;
        
        padding-top: 3px;
    }
    .product__price {}

    .cart__empty {
        font-size: 14px;
        text-align: center;
    }

    .cart__footer {
        font-size: 14px;

        background-color: white;
        border-radius: 0px 0px 7px 7px;
        padding: 10px;
    }
    .cart__footer_total {
        color: #FFB052;
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
    }
    .cart__total_title {}
    .cart__total_value {}

    .cart__footer_btn {
        cursor: pointer;

        text-align: center;

        padding: 7px 0 7px 0;
       
        border-radius: 0 0 7px 7px;
        border: 2px solid #FFB052;
        
        color: #FFB052;

        transition: all 0.5s ease;
    }

    .cart__footer_btn:hover {
        color: white;
        background-color: #FFB052;
    }

    .subcategory__ul {
        position: absolute;

        display: none;
    }

    .subcategory__container {
        background-color: white;

        margin-top: 50px;

        width: 100%;

        padding: 20px 25px 10px 20px;

        border-radius: 7px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .category__ul,
    .subcategory__ul {
        list-style-type: none;
    }

    .subcategory__li {
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    .subcategory__li_link {
        text-decoration: none;
        color: black;

        transition: color 200ms ease;
    }

    .subcategory__li_link:hover {
        color: #528C70;
    }

    .subcategory__trinagle {
        width: 0;
        height: 0;

        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 16px solid white;

        position: absolute;
        top: 35px;
        left: 10%;
    }
}

@media (max-width: 992px) {

    .header__top_li,
    .header__number,
    .category__li { font-size: 14px; }
    .category__ul { width: 350px; }
    
    .header__bottom_logo { 
        background: url('./../img/logo_tagline.jpg');
        background-size: 100%;
        background-repeat: no-repeat;

        width: 74px;
    }
    
    .header__text_animation { display: none; }
    .header__text_animation_md {
        display: inline-block;
        cursor: pointer;

        text-decoration: none;
        color: black;
        position: relative;
    }

    .header__text_animation_md>.down_arrow:before,
    .header__text_animation_md>.down_arrow:after {
        content: '';
        position: absolute;

        background-color: gray;
        width: 5px;
        height: 1px;

        border-radius: 10px;

        top: 40%;
        right: 0;
    }

    .header__text_animation_md>.down_arrow:before {
        right: -8px;
        transform: rotate(40deg);

    }

    .header__text_animation_md>.down_arrow:after {
        right: -11.4px;
        transform: rotate(-40deg);
    }

    .subcategory__trinagle {
        top: 35px;
    }

}
@media (max-width: 768px) {

    .header__top_li,
    .header__number,
    .category__li { font-size: 12px; }
    
    .category__ul { 
        padding-left: 10px;
        width: 310px;
    }
    .search__form { display: none; }

    .header__icon_md {
        width: 32px;

        z-index: 1;
        position: relative;

        display: block;
        margin: 0 auto;
        margin-top: -4px;

        cursor: pointer;
    }

    .header__bottom_logo {
        margin-right: 15px;
    }
}

@media (max-width: 640px) {

    .cart__category_ul {
        list-style-type: none;
    }
    .cart__category_li {
    }
    .cart__subcategory_ul {
        
        position: absolute;
        
        width: 100%;
        height: 400px;

        top: 0;
        left: 0;

        z-index: 1;
    }

    .cart__subcategory_header {
        height: 50px;

        background-color: #528C70;

        padding: 15px 30px 15px 30px;

        display: flex;
        justify-content: space-between;
    }

    .header__span {
        color: white;
        cursor: default;
    }

    .header__close_wrapper {
        color: white;
    }

    .header__close {
        cursor: pointer;
        position: relative;

        color:rgba(44, 148, 98, 0);
        background-color: rgba(0, 0, 0, 0);
    }

    .header__close::before,
    .header__close::after {
        content: '  12';
        position: absolute;

        width: 20px;
        height: 2px;

        border-radius: 4px;

        right: 0;
        top: 8px;

        background-color: #2C4B3C;

        transition: all 1s ease;
    }

    .header__close::before {
        transform: rotate(45deg);
    }

    .header__close::after {
        transform: rotate(-45deg);
    }

    .header__close.active::before,
    .header__close.active::after {
        transform: scale(0%);
        transform: rotate(360deg);
    }

    .cart__subcategory_container {
        width: 100%;
        height: 100%;
        background-color: white;

        padding: 15px;

        overflow-y: auto;
    }

    .product {
        position: relative;

        height: 100px;
        border-top: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;

        margin-bottom: 20px;
    }

    .product__container {
        padding: 14px 0 14px 14px;

        height: 100%;

        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .product__content {
        height: 100%;
        padding-left: 10px;

        position: relative;
    }

    .product__content_bottom {
        position: absolute;

        bottom: 0;
        width: 100%;

        display: flex;
        justify-content: space-between;
    }

    .product__count {
        font-family: 'Lato Light';
        color: #8A8A8A;
    }

    .product__price {
        margin-right: 10px;
    }

    .product__content_top {
        display: flex;
        justify-content: space-between;
    }

    .product__delete {
        position: relative;
    }

    .product__delete::after,
    .product__delete::before {
        content: '';

        position: absolute;
        right: 0;
        top: 8px;

        background-color: black;
        width: 15px;
        height: 1px;
    }

    .product__delete::after { transform: rotate(45deg) }
    .product__delete::before { transform: rotate(-45deg); }

    .product__img {
        background-color: #DFDFDF;

        width: 64px;
        height: 64px;

        margin-top: 3px;
        margin-left: 8px;

        object-fit: cover;

        border-radius: 50%;

        z-index: 3;
    }

    .cart__empty {
        margin-top: 30px;
        text-align: center;
    }

    .cart__footer {
        background-color: white;

        padding: 0 30px 0px 30px;
        height: 90px;

        cursor: pointer;
    }

    .cart__footer_total {
        display: flex;
        justify-content: space-between;

        padding-bottom: 10px;
    }

    .cart__footer_btn {

        position: relative;
        width: 100%;

        color: #FFB052;
        border: 2px solid #FFB052;
        text-align: center;
        padding: 7px 0px 7px 0px;

        transition: all 1s ease;
    }

    .cart__footer_btn.active {
        color: white;
        background-color: #FFB052;
    }

    .cart__total_title,
    .cart__total_value {
        color: #FFB052;
    }

    .header__bottom,
    .category,
    .subcategory__ul {
        display: none;
    }

    .header__bottom_md {
        display: block;

        z-index: 5;

        height: 75px;
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .header__bottom_container_md {
        margin: 0 auto;

        width: 90%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;

        padding-top: 25px;
    }

    .header__bottom_logo {
        
        background: url('./../img/logo_tagline.jpg');
        background-size: 100%;
        background-repeat: no-repeat;

        width: 74px;

        margin: 0 auto;
        margin-top: -20px;
    }

    .burger__container {
        display: block;
        position: relative;
        height: 23px;
        width: 32px;

        cursor: pointer;
    }

    .burger__container:before,
    .burger__container:after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        border-radius: 10px;
    }

    .burger__container:before {
        top: 0;
        transition: all 1s ease 0s;
    }

    .burger__container:after {
        bottom: 0;
        transition: all 1s ease 0s;
    }

    .burger__container span {
        background-color: black;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        border-radius: 10px;
        top: 10px;
        transition: all 0.3s ease 0s;
    }

    .burger__container.burger__active:before {
        top: 9px;
        transform: rotate(45deg);
    }

    .burger__container.burger__active:after {
        top: 9px;
        transform: rotate(-45deg);
    }

    .burger__container.burger__active span { transform: scale(0); }

    .header__number,
    .header__top_li {
        font-size: 10px;
    }

    .header__number { padding-top: 5px; }

    .header__top_container {
        width: 90%;
    }

    .burger__menu {
        background-color: white;
        left: 0;

        display: block;
        position: absolute;

        width: 100%;

        padding: 20px 0 0 0;

        z-index: 1;
    }

    .burger__menu_container {
        margin: 0 auto;

        padding: 12px 0 15px 25px;

        width: 90%;
        height: 88%;
    }
}

@media (min-width: 768px) {

}

.category__li,
.subcategory__ul {
    z-index: 5;
}
.subcategory__ul_outside {
    z-index: -1;
}