@font-face {
    font-family: 'Lato Light';
    font-style: normal;
    font-weight: 300;
    src: url('./../fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    src: url('./../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato Medium';
    font-style: normal;
    font-weight: 400;
    src: url('./../fonts/Lato-Medium.ttf');
}

@font-face {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 700;
    src: url('./../fonts/Lato-Bold.ttf');
}

div {
    font-family: 'Lato Regular', sans-serif;
}